.Kontakt {
    position: relative;
    text-align: center;
    padding: 2%;
    margin: 2% 20% 2% 20%;
    }

.moje-foto {
    filter: grayscale(80%);
    transform: scale(1.5);
    transform: rotate(-15deg);
    transform: translateX(-50%) scale(1.5) rotate(-15deg);
    position: absolute;
    z-index: -1;
    }

.Vzdělání {
    margin: 2% 20% 2% 20%;
    border-radius: 20px;
    text-align: center;
    padding: 2%;
    line-height: 1.5;
}


body {
    background-color: white;
    font-family: "Arimo"; 
    color:#787569;
}

h1 {
    font-weight: normal;
    font-family: "Montserrat";
    font-size: 460%;
    text-align: center;
    }

h2 {
    font-family: "Montserrat";
    font-weight: normal;
}

h3 {
    font-size: small;
    font-family: "Arimo";
    margin: 1%;
    }

h4 {
    font-size: smaller;
    font-family: "Arimo";
}

a {
    color: #4F4D46;
    text-decoration: none;
    }


      